body, html {
  font-family: 'Roboto', sans-serif;
  --color-primary: #071018; /* black-blue */
  --color-secondary: #8DC770;  /* light green */
  --color-accent: #D0F1BF;
}

.header {
  width: 100%;
  height: 6rem;
  padding: 1rem 2rem;
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  background-color: var(--color-accent);
}

.logo {
  padding-left: 1rem;
  flex: 0.5;
}

.searchBox {
  flex: 2;
}

.searchBox i {
  font-size: 36px;
  color: white;
}

.searchBox .input-field input {
  border-bottom-style: solid;
  border-bottom-color: white !important;
  color: white;
  border-bottom-width: 3px;
}

.searchBox .input-field input[type=text]:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 2px 0 0 white !important;
 }

 .input-field .prefix.active {
    color: white !important;
  }

.actionBox {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.actionBox i {
  margin: auto 2rem;
  width: 1rem;
  font-size: 36px;
  cursor: pointer;
  color: white;
}

.actionBox i:hover {
  color: var(--color-secondary);
}

section {
  min-height: 40vh;
}

.divider {
  width: 80%;
  margin: 2rem auto;
}

p {
  margin: 0;
}

.carouselSection {
  margin: 0 4rem;
  padding: 2rem;
}


.subtitle {
  margin: 1rem;
  font-size: 24px;
  font-weight: 700;
}

.categories {
  padding: 1rem 4rem;
}

.categoryCarousel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  padding: 2rem;
}

.categoryBox {
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 1rem;
  margin: auto 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.products  {
  padding: 1rem 4rem;
}

.productCarousel {
  display: flex;
  width: 100%;
}

.productCarousel .card {
  width: 12rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.productCarousel .card:hover {
  filter: brightness(1.1);
}

.card-img {
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content {
  height: 40%;
}

.card-content span:nth-child(2) {
  font-weight: 800;
}
